#page,.region-bottom
{
  max-width:100%!important;
}

#header,#content,#navigation,.region-sidebar-first,.region-sidebar-second,#footer
{
  padding-left:0!important;
  padding-right:0!important;
}

.views-slideshow-controls-text-previous
{
  background:url(../images/arrow-calednar-left.png) no-repeat scroll 0 0 transparent;
  display:block;
  height:42px;
  position:absolute;
  top:50%;
  width:24px;
  z-index:4;
  left:0;
  font-size:0;
  margin:1px 10px 10px;
}

.views-slideshow-controls-text-next
{
  background:url(../images/arrow-calednar-right.png) no-repeat scroll 0 0 transparent;
  display:block;
  height:42px;
  position:absolute;
  top:50%;
  width:24px;
  z-index:4;
  font-size:0;
  right:0;
  margin:1px 10px 10px;
}

.views-slideshow-controls-text-pause
{
  display:none;
}

#header-middle,#content-middle
{
  width:980px;
  margin:0 auto;
}

#logo-div,.region-header
{
  display:inline;
}

#header
{
  background-color:#e4e9eb;
}

#block-views-slidershow-block
{
  clear:both;
  height:630px;
  overflow:auto;
}

ul.menu li.first
{
  background:url(../images/accendi-icon.png) no-repeat scroll left center transparent!important;
}

ul.menu li.last
{
  background:url(../images/registrati-icon.png) no-repeat scroll left center transparent!important;
}

ul.menu li.first a,ul.menu li.last a
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#94a7b0;
  padding-left:30px;
}

ul.menu li.leaf
{
  list-style:none!important;
  float:left;
  width:auto;
  margin-left:15px;
  margin-top:15px;
}

ul.menu
{
  list-style:none;
  overflow:auto;
  width:350px;
}

.region-itinerary .field-content img
{
  float:left;

}

.views-field
{
  margin-top:0;
}

#wrapper
{
  width:980px!important;
  margin:0 auto;
}





.route
{
  font-family:Calibri;
  font-size:26px;
  color:#333;
  font-weight:700;
  margin:0;
}

.from-date
{
  margin-left:15px;
  font-family:Arial,sans-serif;
  font-size:16px;
  color:#333;
  margin-top:5px;
}

.to-date
{
  font-family:Arial,sans-serif;
  font-size:16px;
  color:#333;
}

.startdate
{
  font-family:Arial,sans-serif;
  font-size:16px;
  padding-right:2px;
  padding-left:4px;
  color:#333;
  font-weight:700;
}

.rent
{
  font-family:Arial,sans-serif;
  font-size:14px;
  color:#333;
  font-weight:700;
  margin-left:15px;
}

.checkindate
{
  margin-top:10px;
}

.checkoutdate
{
  margin-top:5px;
}

.enddate
{
  font-family:Arial,sans-serif;
  font-size:16px;
  color:#333;
  font-weight:700;
  padding-right:2px;
  padding-left:4px;
}

.structure
{
  font-family:Arial,sans-serif;
  font-size:14px;
  color:#333;
}

.col-first .views-field-field-routes-images

{
     float: left;
    height: 117px;
    width: 490px;
}
.region-itinerary .field-content,.itinerary
{
  width:980px;
 

  
}
.view-content .views-field-field-route-title{
float:right;
width:350px;
}
.view-content .views-field-field-route-dal{
float:right;
width:350px;
}
.view-content .views-field-field-route-to{
float:right;
width:350px;
}

.itinerary:hover .itinerary-details,.itinerary-details:hover
{
  background-color:#CCECF9;
  box-shadow:2px 4px 6px #C8CECC;
}

#edit-lang-dropdown-select_title
{
  width:132px !important;
  position:absolute !important;
}

.views-field-title{
float:left; width: 385px;
}
.views-field-title  a
{
text-decoration:none;


}
#qt-testtab-ui-tabs1 .views-row-first
{
width:980px;
margin:0 auto;
height:117px;
margin-top:15px;
margin-bottom:15px;
border-radius: 15px;
border:3px solid #FFFFFF;
background-color:#E6F5FC;
}
#qt-testtab-ui-tabs1  .views-row-first:hover{
border:3px solid #019FDE;
background-color:#CCECF9;
box-shadow:2px 4px 6px #C8CECC;
width:980px;
margin:0 auto;
height:117px;
margin-top:15px;
margin-bottom:15px;
border-radius: 15px;
}
#qt-testtab-ui-tabs1 .views-row-last
{
width:980px;
margin:0 auto;
height:117px;
margin-top:15px;
margin-bottom:15px;
border-radius: 15px;
border:3px solid #FFFFFF;
background-color:#E6F5FC;
}
#qt-testtab-ui-tabs1 .views-row-last:hover{
border:3px solid #019FDE;
background-color:#CCECF9;
box-shadow:2px 4px 6px #C8CECC;
width:980px;
margin:0 auto;
height:117px;
margin-top:15px;
margin-bottom:15px;
border-radius: 15px;
}
.views-field-field-iti-image img{float:left;width:490px;height:117px;}
.views-field-field-iti-from{float:left;}
.views-field-field-iti-from .field-content{float:right;}
.views-label-field-iti-to{float:left;}
.views-label-field-iti-to .field-content{float:right;}
.views-field-view-node a{float:right;}
.views-field-view-node a
{
width:10px;
height:20px;
background:url('../images/image-r-arrow-icon.png');
background-repeat:no-repeat;
display:block;
text-indent:-1999px;

padding:12px 10px 10px 10px;
}
.view .view-itinerari-tab{clear:both;}
.region-searchtab{width:100%;height:70px;}
.ui-tabs .ui-tabs-nav{width:980px;height:70px;margin:0 auto;}
.ui-widget-content{border:none;}
.ui-widget-header{border:none;background:url('imah')!important;}
.ui-state-default .ui-corner-top .ui-tabs-selected .ui-state-active{border:none;}
.more-link a{text-decoration:none;

float: left;
    margin: 0 auto;
    text-decoration: none;
    width: 300px;
	
}
.views-field-field-popular-images{
border:3px solid #EF98A0;
width:429px;
padding:18px;
border-radius:15px;
height:260px;
}
.views-field-field-popular-images:hover{
 
border: 3px solid #D00018;
box-shadow: 0px 4px 10px #CBC9CA;
 }
 
.views-field-field-popular-heart {float:left;
position:relative;
background-image: url('../images/red-color-rank-icon.png');width: 80px;
height: 76px;
background-repeat: no-repeat;
left: 6px;
bottom:300px;
text-align:center;
padding-top:19px;
color:#ffffff;

}
.views-field-field-popular-cost{
 background-color: #EEEEEE;
    border-radius: 18px 18px 18px 18px;
    height: 45px;
    left: 15px;
    margin-left: 138px;
    position: relative;
    top:-23px;
    width: 160px;
text-align:center;
background:url('../images/praes-icon.png');
color:#6AAE25;
}
.views-field-field-popular-titles{
border-radius:20px;
 height: 40px;
    width: 467px;
background-color:#EC99A3;
font-size:14px;
color:#ffffff;

}
.views-field-field-popular-titles:hover{

background-color:#D00018
}
.views-field-field-popular-below{color:#C5C5C5;}