@import url(http://fonts.googleapis.com/css?family=Nunito);
.istFont {font-family: 'Nunito', sans-serif;}
* { margin: 0; padding: 0; outline: 0}
body, html{font-family: 'Imprima', sans-serif;}
body {padding-top:216px;}
fieldset {border:0px;}
.clear {clear:both;float:none;display:block}
.float-right {float:right}
.float-left {float:left}
form .fullwidth {width:100%}
.content {width:980px; margin: 0 auto}
.margin30 {margin-top:30px;}
.margin20 {margin-top:20px;}
.margin10 {margin-top:10px;}
.margin-right20 {margin-right:20px;}
.margin-right10 {margin-right:10px;}
.margin-bottom147 {margin-bottom:147px !important;}
.tlc, .trc, .blc, .brc, .ac {border-radius:30px}
ul {list-style: none}
h3 {color: #666;font-size:18px;margin-bottom:30px;text-transform: uppercase;font-family: 'Nunito', sans-serif;}
.section a{width:160px;font-size: 11px;color:#8aa81c;text-decoration: none;font-family: 'Nunito', sans-serif; font-weight: bold}
a.button {text-decoration: none;font-size:16px;font-family: 'Nunito', sans-serif;font-weight: normal}
.button {padding:0 10px;color:white !important;text-transform: uppercase;font-weight: bold;border-radius:5px;border:0;height:40px;line-height: 42px;display:block;background:url(/images/submit-bg.png) repeat-x center center #EFEFEF;text-align: center;}
.yellow {background:url(/images/submit-bg-yellow.png) repeat-x center center #EFEFEF;}
.darkgray {background:url(/images/submit-bg-gray.png) repeat-x center center #EFEFEF;}
.width556 {width:516px}
.width450 {width:450px}
.width362 {width:404px}
.width398 {width:398px}
.width264 {width:264px}
.width184 {width:184px}
.margin-bottom10{margin-bottom: 10px;}
.padding10{padding: 10px;}
h3 a {color: #666!important;font-size: 18px!important;margin-bottom: 30px;text-transform: uppercase;}
form label.error {background: red;border-radius: 5px;background: red;border-radius: 0 0 5px 5px;color: white;line-height: 18px;width: 454px;}
li {list-style: none}
.grey {color: #666}
.green {color: #8aa81c}
.font8 {font-size:8px;}
.font11 {font-size:11px;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.bold {font-weight: bold}
.uppercase {text-transform: uppercase}
.capitalize {text-transform: capitalize}
.list li {list-style: inside disc}
.voice {background: url(/images/voice.png) center bottom no-repeat transparent !important;width:155px;height: 126px;}
.relative {position: relative}
.absolute {position: absolute}
.fixed {position: fixed;z-index:99}
.formdate {height: 30px;width: 134px;border-radius:5px; border:1px solid #cccccc;background: #efefef;padding:5px;}
.formsubmit {text-transform: uppercase; font-size:16px; font-weight: bold; color:white; height: 40px; width: 134px;border-radius:5px; border:1px solid #cccccc;background: url(/images/submit-bg.png) repeat-x center center #efefef;padding:5px;}
.date-icon {background: url(/images/calendar.png) 115px center no-repeat #EFEFEF!important}
label {display:block;text-align: center;line-height: 30px;font-size: 14px;color:#666666}
.input {height: 28px;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.text-center {text-align:center;}
table {border-collapse: collapse;border:0}
table .border0{border:1px solid white}
table td {padding:10px 20px;border:1px dashed #ccc}
.hide {display:none}
#ajax-loader-front {display:none;position: absolute;background: white;opacity:.7;top:0;left:0;z-index:10;width:356px;height: 577px}
#ajax-loader-img-front {display:none;-moz-box-shadow: 0px 1px 15px #888;-webkit-box-shadow: 0px 1px 15px #888;box-shadow: 0px 1px 15px #888;-webkit-border-radius: 7px;-moz-border-radius: 7px;z-index:11;border-radius: 7px;padding:10px;width: 100px;height: 100px;position: absolute;top:228px;left:118px;background: url(/images/ajax-loader.gif) center center no-repeat white}
#header {z-index: 2;position: absolute;top: 0;left: 0;height: 216px;width: 100%;background: url(/images/shadow.png) 0px bottom repeat-x transparent;padding-bottom: 9px;}
#header #upper-band {width:100%}
#header #upper-band #languages {float:right;text-indent: -9999px;display:block;height: 11px;width:108px;padding:5px 0;margin-bottom: 15px;}
#header #upper-band #languages div {float:right;width:16px;height: 11px;margin-left: 5px;}
#header #upper-band #languages div a {text-indent: -9999px;display:block;float:left;width:16px;height: 11px;background: black;}
#header #upper-band #languages div a#it {background: url(/images/it.png) center center no-repeat;opacity:.3}
#header #upper-band #languages div a#en {background: url(/images/en.png) center center no-repeat;opacity:.3}
#header #upper-band #languages div a.active {opacity:1 !important}
#header #logo {width:153px;height: 82px;float:left;margin-right:41px;}
#header #utils {height: 216px;width:786px;float:left;}
#header #utils-top {height:140px;width:786px;border-bottom:1px solid #ccc}
#header #search {height:111px;float:left;width:434px;padding-right: 40px;}
#header #banner-signup {position:relative;height:111px;width:312px;float:left;background:#e8eed2;background: url(/images/banner-singup.png) 10px center no-repeat #E8EED2}
#header #banner-signup a{position:absolute;top:0;height: 0;width: 100%;height: 100%;display:block;text-indent: -9999px;font-family: 'Nunito', sans-serif;}
#header #banner-signup p{margin-left: 115px;width: 197px;padding: 15px 0;}
#header #banner-signup span {display:block;}
#header #banner-signup #title {color:#8aa81c;font-weight: bold;font-size:16px;text-transform: uppercase;margin:5px 0}
#header #banner-signup #banner-text {color:#666;font-size:12px;text-transform: lowercase;margin:5px 0}
#header #search p{height:40px}
#header #search .input{width:135px;}
#header #search .margin20{margin-right: 20px;margin-top: 0px; }
#header #search #keyword {height: 30px; width: 434px;border-radius:5px; border:1px solid #cccccc;background: #efefef;padding:5px;}
#header #search .date {height: 30px;width: 134px;border-radius:5px; border:1px solid #cccccc;background: #efefef;padding:5px;}
#header #search #submit {text-transform: uppercase; font-size:16px; font-weight: bold; color:white; height: 40px; width: 134px;border-radius:5px; border:1px solid #cccccc;background: url(/images/submit-bg.png) repeat-x center center #efefef;padding:5px;}
#header #search label.over {text-transform: lowercase; font-size:14px; color:666666;line-height: 30px;padding:5px;}
#header #search label {display:block;text-align: center;line-height: 30px;font-size: 14px;color:#666666}
#header #search label.error {color:white;line-height: 18px;width: 100%;margin:0 auto;border-radius:5px;padding:0 6px;}
#header #search label.error[for="keyword"] {padding: 0;}
#header #menu ul {width:786px;}
#header #menu ul li {float:left;margin: 0 10px;}
#header #menu ul li:first-child {margin:0}
#header #menu ul li a {width:160px;font-size: 11px;color:#8aa81c;text-decoration: none;font-family: 'tahoma'; font-weight: bold}
#footer {background:url(/images/shadow.png) 0 0 repeat-x #839187;color:white;font-size: 11px;font-family: tahoma;padding-bottom: 30px;}
#footer a {color:white;font-weight: bold;text-decoration: underline}
#footer a:hover {color:black;}
#footer .section {width:224px;margin:20px 28px 44px 0;}
#footer .section .title {font-family: 'Nunito', sans-serif;font-size: 18px; text-transform: capitalize;margin-top: 25px;margin-bottom:17px;}
#footer .section .row {padding: 10px 0}
#footer .section .row a.button{width:205px;font-weight: normal;text-decoration: none}
#footer .section .bordered {border-bottom: 1px dotted white}
#footer .section.last {margin-right:0}
#footer .logo-white {width:91px;height: 49px;background: url(/images/logo-white.png) 0 0 no-repeat}
#footer img {vertical-align: middle;}
#footer .social a {text-decoration: none;text-transform: capitalize}
#footer #footer-detail {background:url(/images/bg_footer_details.png) center center no-repeat;height: 42px;padding:5px 30px;}
#footer #footer-detail a{line-height: 42px;text-decoration: none}
#body {background: #d0dca4}
#body .section {background: white;margin-bottom:20px;padding:20px;}
#body .data {margin-left:20px;width:470px;}
#body .data h3 {font-size:24px; font-weight: bold;color: #666;text-transform: capitalize;margin-bottom:30px;height: 56px;}
#body .data p.description {font-size: 14px;color:#666;height: 100px;}
#body .data p.social {font-size: 14px;color:#666;}
.section.slidercontainer {height: 530px;position:relative}
.arrow {position: absolute;left:50%;top:50%;width:50px;height: 80px;cursor:pointer;margin-top: -40px;}
.arrow.left {background: url(/images/arrow-left-green.png) center center no-repeat;margin-left: -540px;}
.arrow.right {background: url(/images/arrow-right-green.png) center center no-repeat;margin-left: 490px;}
.arrow.right-bg-right {background: url(/images/arrow-right-green-bg-right.png) center center no-repeat;margin-left: 490px;}
.fullwidth {display:block;width:auto}
.accomodation-box {width:300px;height:447px;margin-right: 20px;background: white}
.accomodation-box.last {margin-right: 0;}
.accomodation-box h3 {color: #666;font-size:18px;margin-bottom:30px;text-transform: uppercase}
.accomodation-box p.description {height: 135px;}
#gallery img{display:block;}
#gallery a.pinoverlay {display:none;display:block;text-indent: -9999px;width: 100%;height: 100%;opacity:0;position: absolute;top:0;left:0}
#gallery a.pinoverlay:hover {opacity:1;background: url(/images/pincenter.png) center center no-repeat}
#box-on-map {background: url(/images/bg-box-on-map.png) center center no-repeat;width:160px;height: 181px;top:125px;right:10px;font-family: 'Nunito', sans-serif;font-weight: normal;}
#facebox {position: absolute;top: 0;left: 0;z-index: 100;text-align: left;}
#facebox .popup{position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);box-shadow:0 0 18px rgba(0,0,0,0.4);}
#facebox .content {display:table;width: auto;padding: 10px;background: #fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#facebox .content > p:first-child{margin-top:0;}
#facebox .content > p:last-child{margin-bottom:0;}
#facebox .close{position:absolute;top:5px;right:5px;padding:2px;background:#fff;}
#facebox .close img{opacity:0.3;}
#facebox .close:hover img{opacity:1.0;}
#facebox .loading {text-align: center;}
#facebox .image {text-align: center;}
#facebox img {border: 0;margin: 0;}
#facebox_overlay {position: fixed;top: 0px;left: 0px;height:100%;width:100%;}
.facebox_hide {z-index:-100;}
.facebox_overlayBG {background-color: #000;z-index: 99;}
.width100p {width: 100%;}
.height100p {height: 100%;}
.bg-black {background-color: black}
.bg-grey {background-color: #839187}
.bg-light-green {background-color: #e8eed2}
.opacity60{opacity:.6}
#popup-congrat{z-index:100;width: 466px;height: 398px;top:50%;left:50%;margin-left:-233px;margin-top:-199px;}
.ac4 {border-radius:4px;}
.font-white {color:white}
.font-gray {color:#666666}
.font-green {color:#8aa81c}
#breadcrumb {height: 26px;}
#breadcrumb a{line-height: 52px;}
#welcome-user {height: 20px;line-height: 20px;}
#account .column {width: 50%;}
#userupdateform {margin:auto 10px;}
#userupdateform p {display:block;margin-top: 10px;min-height: 0}
#userupdateform label {display:block;margin-bottom: 5px;font-size: 12px;text-transform: uppercase;text-align: left;line-height: 15px;}
#userupdateform input, #userupdateform select ,#userupdateform option
{width: 250px;height: 25px;border:1px solid  #a1ce94}
#userupdateform input[type="submit"] {cursor:pointer;text-transform: uppercase;width:auto;background: #439d2a;padding:5px 20px;border:0px;color:#d9ebd4;font-weight: bold;margin:10px auto}
#userupdateform label.error{border-radius:4px;position: absolute;top: 23px;left: 262px;width: auto;padding: 7px;color: white;background: #C51015;border: none;font-size: 10px!important;margin: 0;white-space: nowrap}
#userupdateform .usericon-green {background: url(/images/accounticon-green.png) no-repeat left center;height: 30px;margin-bottom: 10px}
#errors-login {background: url(/images/alert.png) 15px center no-repeat #FECC00;padding: 20px 20px 20px 75px;}
#policy-list li {float: left;width: 48%;list-style: none;margin: 0 10px 10px 0;padding: 0 0 10px 0;}
#facility-list ul.list {float:left;width:48%;margin: 0 10px 10px 0;padding: 0 0 10px 0;}
#facility-list ul.list li {float:none}
#facility-list ul.list li:first-child {list-style: none}
#faceboox .popup h3 {margin:0}
#verify_disp #submit2 {text-transform: uppercase;font-size: 13px;font-weight: bold;color: white;height: 42px;width: 184px;border-radius: 5px;border: 1px solid #CCC;background: url(/images/submit-bg.png) repeat-x center center #EFEFEF;padding: 5px;}

.sbHolder{
    background-color: #EFEFEF;
    border: solid 1px #CCC;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
    position: relative;
    width: 144px;
    border-radius: 5px;
}
.sbHolder:focus .sbSelector{

}
.sbSelector{
    display: block;
    height: 30px;
    left: 0;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 170px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
    color: #666;
    outline: none;
    font-size: 14px;
    text-decoration: none;
}
.sbToggle{
    background: url(../img/select-icons.png) 0 -167px no-repeat;
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.sbToggle:hover{
    background: url(../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
    background: url(../img/select-icons.png) 0 -67px no-repeat;
}
.sbToggleOpen:hover{
    background: url(../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
    background-color: #3C3C3C;
    border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{

}
.sbHolderDisabled .sbToggle{

}
.sbOptions{
    background-color: #EFEFEF;
    border: solid 1px #ccc;
    border-top:0;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 144px;
    z-index: 1;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
}
.sbOptions li{
    padding: 0 7px !important;
    color: #99AABE !important;
    float:none !important;
    margin:auto !important;
    height:auto !important;
    font-size: 18px !important;
    font-family: 'ubuntu' !important;
}
.sbOptions a{
    border-bottom: dotted 1px #99AABE;
    display: block;
    outline: none;
    padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
    color: #666;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 14px;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
    color: #ccc;
}
.sbOptions li:last-child a, .sbOptions li.last a{
    border-bottom: none;
}
.sbOptions .sbDisabled{
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
    border-bottom: dotted 1px #515151;
    color: #EBB52D;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
    padding-left: 17px;
}