@charset "utf-8";
/* CSS Document */
#wrapper{ width: 100%; margin: 0 auto;}
* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

#header-bg{
    background: url("../images/top-gradient.png") repeat-x scroll left top transparent;
    height: 100px;
    margin-bottom: 0;
    position: relative;
	width:100%;
}

body, html {
    font-family:Arial,sans-serif;
}


/************************************************************************* this is search bar **************************************************************************************/
#canvas {
    height: auto !important;
    margin-bottom: 22px;
    min-height: 100%;
	width:100%;
}
#summary {
    color: #FFF;
    font-size: 20px;
	font-style:italic;
	font-weight:bold;s
	font-family:Arial;
    margin-bottom: 30px;
    text-shadow: 0 0 17px #000000;
	width: 100%;
}
.form {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 17px #000000;
    height: 50px;
    margin-top: 25px;
}


#newsearch {
background: none repeat scroll 0 0 transparent;
    left: 50%;
    margin-left: -490px;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 980px;
    z-index: 5;
}

#newsearch {

    border-radius: 25px 25px 25px 25px;
    height: 0px;
  
    padding: 0 0 0 0px;
    position: absolute;
    top: 232px;
	
}
.skin-default{position:relative;}


.item:after{
	background: url("../images/down-arrow.png") no-repeat scroll center center transparent;
    content: "";
    display: block;
    float: right;
    height: 10px;
    left: 50%;
    margin: 0 auto;
	position: absolute;
    top: 25px;
    width: 9px;
}

#newsearch .text {
    border-left: 0 none;
} 

#newsearch .item
{
border-left: 1px solid #D4DCDF;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    min-width: 120px;
    padding: 0 20px;
    position: relative;
}

#newsearch input.location {
    width: 385px;
}
#newsearch input {
    
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #c9d3d7;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    line-height: 30px;
    width: 120px;
}

#newsearch input.location:after {
    background: none repeat scroll 0 0 transparent;
}
.persons select {
    background: none repeat scroll 0 0 #E1EFD3;
    color: #6AB023;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#newsearch .persons select {
    color: #6AB023;
    cursor: pointer;
}
#newsearch .persons .holder {
    color: #94A7B0;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
#newsearch .item {
    line-height: 30px;
}


#newsearch .sub:after {
    background: none repeat scroll 0 0 transparent;
}

#newsearch .sub {
    float: right !important;
    height: 100% !important;
    margin-top: 5px !important;
    min-width: 41px !important;
    padding: 0 5px 0 25px !important;
}

#newsearch .item {
    border-left: 1px solid #D4DCDF;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    min-width: 120px;
    padding: 0 20px;
    position: relative;
}

#newsearch .sub input[type="submit"] {
    background: url("../images/search.png") no-repeat scroll center center transparent;
    display: block;
    height: 40px;
    text-indent: -99999px;
    width: 41px;
}
#newsearch input:hover {
    box-shadow: none;
}

#newsearch input.checkin {
    background: url("../images/checkin.png") no-repeat scroll right center transparent;
	font-family:Arial;
	font-size:14px;
	color:#94a7b0;
	font-weight:bold;
}
#newsearch input.checkout {
    background: url("../images/checkout.png") no-repeat scroll right center transparent;
	font-family:Arial;
	font-size:14px;
	color:#94a7b0;
	font-weight:bold;
}


#newsearch .text:after {
    background: none repeat scroll 0 0 transparent;
}


 #newsearch .text {
    border-left: 0 none;
}





#newsearch .persons {
    background: url("../images/persons.png") no-repeat scroll 110px center transparent;
}

#page-wrapper #content h1{display:none;}

/****************************************************************************************************************************************************************************/

.usefullinks{width:1200px;margin: 0 auto;}


#claim {
    color: #FFF;
    font-family: calibri;
    font-size: 48px;
    font-style: italic;
    text-shadow: 0 0 17px #000000;
	font-weight:bold;
}


.ul-header li{float:left; padding:0px 30px 0px 0px; list-style:none; }




.Selectlang a {background:url(../images/langiage-icon.png) no-repeat scroll left center transparent;}



.login-utente a{background:url(../images/accendi-icon.png) no-repeat scroll left center transparent;}
.login-albergatore a{background:url(../images/registrati-icon.png)  no-repeat scroll left center transparent;}



.usefullinks a { 
    color: #94A7B0;
    font-size: 14px;
    font-weight: bold;
	font-family:Arial,sans-serif;
    line-height: 21px;
    padding: 4px 0 3px 26px;
    text-decoration: none;
    text-shadow: 0 1px #FFF;
    text-transform: uppercase;
}

.logo_img{float:left;}

/*.socila-icons{ float:left; }*/

#block-fblikebutton-fblikebutton-static-block{float:left; }

#block-google-plusone-google-plusone-block{float:left; }



#language-menu li a {
    background: none repeat scroll 0 0 transparent;
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    text-transform: lowercase;
}


/******************************************************************* This is Slider area Css****************************************************************************************/

.views-field-counter{display:none;}

#views_slideshow_controls_text_pause_homes-page{display:none;}

#views_slideshow_controls_text_previous_homes-page a{background:url(../images/arrow-calednar-left.png) no-repeat scroll center center transparent;
display: block;
    height: 42px;
    margin: 1px 10px 10px;
    position: absolute;
    top: 50%;
    width: 24px;
    z-index: 4;
	left:0;
}
#views_slideshow_controls_text_previous_homes-page a{font-size:0px;}



#views_slideshow_controls_text_next_homes-page{background:url(../images/arrow-calednar-right.png) no-repeat scroll center center transparent;
 display: block;
    height: 42px;
    margin: 1px 10px 10px;
    position: absolute;
    top: 50%;
    width: 24px;
    z-index: 4;
	right: 0;
}
 
#views_slideshow_controls_text_next_homes-page a{font-size:0px;}
.field-content a{display:none;}
.contextual-links-region #page-title{ display:none;}

#block-widgets-s-widgets{float:left;}
#block-locale-language{float:left;}

#block-locale-language h2{display:none;}
.language-switcher-locale-url li{display:inline;}

/*******************************************************************************************************************************************************************************/
/* content */

#wrappers{
width:100%;
height:70px;
border-bottom:1px solid #CED2D5;
}
#wrapper2{
width:980px;
margin:0 auto;
margin-top:40px;
}
.contents{
width:980px;
margin:0 auto;
height:65px;

}
.frst img{
float:left;padding-top:20px;width:35px;padding-right: 20px;}
.frst {width:250px;margin:0 auto;height:65px;;
border-bottom:5px solid #049BE0;float:left;padding-right:25px;}
.frst h2{
padding-top: 23px;
color:#049BE0;
font-family:Calibri;
font-weight:bold;}


.text{
color:#CED2D5 !important;
font-family:Calibri;
font-weight:bold;}

.content1{
width:980px;
margin:0 auto;
height:111px;
border-radius: 15px;
margin-top:20px;
margin-bottom:10px;
border:3px solid #049BE0;
}

.images{
width:486px;
float:left;
}
.back{
width:494px;
background-color:#CCECF9;
height:111px;
float:right;
border-radius: 0px 15px 15px 0px;

}
.date{float:left;width:350px;height:111px;}
.icon1{float:right;width:25px;height:111px;margin-top:46px;}
.content2{
width:980px;
margin:0 auto;
height:117px;
border-radius: 15px;
margin-top:20px;
margin-bottom:10px;
}
.images img{height:117px;
width:490px;}
.content2:hover
{
border:3px solid #019FDE;
border-radius:16px 16px 16px 16px;
box-shadow:0px 2px 6px #C8CECC;

}
.back1:hover{background-color:#CCECF9;}
.back1{
width:494px;
background-color:#E6F5FC;
height:117px;
float:right;
border-radius: 0px 15px 15px 0px;

}
.nome{margin-left:15px;

	font-family:Calibri;
	font-size:26px;
	color:#333333;
	font-weight:bold;
	margin-top:8px;
}

.dal {margin-left:15px;

font-family:Arial;
	font-size:16px;
	color:#333333;
	margin-top:5px;}

.al{font-family:Arial;
	font-size:16px;
	color:#333333;
	}
	.startdate{font-family:Arial;
	font-size:16px;
	padding-right:2px;
	padding-left:4px;
	color:#333333;font-weight:bold;
}
.rent{font-family:Arial;
	font-size:14px;
	color:#333333;
	font-weight:bold;margin-left:15px;
}
.checkindate
{margin-top:10px;}
.checkoutdate{margin-top: 5px;}
	.enddate{font-family:Arial;
	font-size:16px;
	color:#333333;
	font-weight:bold;padding-right:2px;
	padding-left:4px;}
	.structure{font-family:Arial;
	font-size:14px;
	color:#333333;
	}
	
 .bolds{font-family:Arial;
	font-size:14px !important;
	color:#333333;
	font-weight:bold;}

.content3{
width:300px;
margin:0 auto;
height:128px;
background-color:#98D8F3;
border-radius: 15px;
margin-top:20px;
margin-bottom:10px;
}
.room{
width:980px;
margin:0 auto;
height:400px;
margin-top:50px;}
.room_gallery{position:relative;float:right;border:3px solid #C1E0A5;width:435px;padding:14px;border-radius:16px;height:265px;margin-top: 8px;}
.conti{text-align:center;padding-top:40px;font-size:18px;color:#FFF;font-family:Arial;font-weight:bold;font-style:italic;}
.conti img{}
.content3 img{padding-left:125px;padding-top: 18px;}
.room2{
float:left;
width:510px;
height:315px;
}
.room_gallery:hover{
 
border: 3px solid #69B024;
box-shadow: 0px 4px 10px #CBC9CA;
 
 
}
.room :hover .room_gallery{border: 3px solid #69B024;
box-shadow: 0px 4px 10px #CBC9CA;
}
.room :hover .box1{
 background-color:#69B022;box-shadow:2px 4px 10px #CBC9CA;
}
.room3{
float:left;
width:485px;
height:315px;
background:url('../images/frattamaggiore-actev-box-bg.png');
background-repeat:no-repeat;
position:relative;
}
.roomroom{float:left;
width:485px;
height:315px;
background:url('../images/red-color-actev-box-bg.png');
background-repeat:no-repeat;
position:relative;}
.roomroom img{margin-left:27px;margin-top:27px;}


.room3 img{margin-left:27px;margin-top:27px;}
.content4{
width:300px;
margin:0 auto;
height:128px;
background-color:#EC99A3;
border-radius: 15px;
margin-top:30px;
margin-bottom:10px;
}
.content5{
width:300px;
margin:0 auto;
height:128px;
background-color:#C3DEA7;
border-radius: 15px;
margin-top:20px;
margin-bottom:10px;
}
.box{width:483px;height:50px;position:relative;top:-30px;clear: both;}
.box img{margin-left:0px;}
.button{width:240px;border-radius:10px;margin-left:120px;
background-color:#EEEEEE;height:45px;position:relative;top:-30px;float:left;}
.box1{width:475px;
height:40px;
background-color:#C3DEA7;border-radius:17px;margin-left:-15px;margin-top: 46px;}
.box2{width:475px;
height:40px;margin-top: 46px;
background-color:#EC99A3;border-radius:17px;margin-left:-15px;float:left;}
.but{text-align:center;padding-top:10px;}
.text3{margin-left:5px;float:left;width:320px;height:100px;position:relative;color:#aeaeae;font-family:Arial;top:7px;font-size:14px; font-style:normal;}
.copyicon{
float:left;
position: relative;
margin-left:5px;
top:7px;
}

.press{padding:10px;}
.border{border:solid #D9DADC;}
.button1{width:240px;border-radius:18px;margin-left:98px;
background-color:#EEEEEE;height:45px;position: absolute;
top:267px;left:0px;}
.button2{width:150px;border-radius:18px;margin-left:120px;
background-color:#EEEEEE;height:45px;position: absolute;
top: 267px;}
.content4 img {
padding-left: 125px;
padding-top:18px;
}
.content5 img {
padding-left: 125px;
padding-top:18px;
}
.heart{float:left;
position:absolute;top: 0px;
background-image: url('../images/red-color-rank-icon.png');width: 80px;
height: 76px;
background-repeat: no-repeat;
left: 0px;}
.price{color:#FFF;position: relative;
font-family:calibiri;
font-size:24px;
font-weight:bold;
text-align: center;
top: 20px;}
.redroom1{float:right;border:3px solid #EF98A0;width:435px;padding:14px;border-radius:10px;height:265px;margin-top: 8px;position:relative;}

.bedroom{position:relative;}

.likeicon{float:left;width:132px;height:50px;}

.likeicon1{float:right;width:70px;height:50px;}
.praes{float:left;}
.para{float:right;width:94px;height:28px;color:#6ab023;border-right: 1px solid #D9DADC;padding-right: 8px;font-family:calibri; font-size:24px; font-weight:bold;}
.para1{float:right;width:30px;height:50px;color:#CD010D;margin-top:5px;font-weight: bold;}
.box2 p{color:#FFFEFF;text-align:center;line-height: 40px;}
.box1 p{color:#FFFEFF;text-align:center;font-family:calibri;font-weight:bold;font-size:18px;padding-top: 9px;}
.box2:hover{
 background-color:#D00018;box-shadow:2px 4px 10px #CBC9CA;
}

.room:hover .redroom1{border:3px solid #CD011C;
 box-shadow:0px 0px 10px #CBC9CA;}
 .room:hover .box2{background-color:#D00018;box-shadow:2px 4px 10px #CBC9CA;}
/***************************************************************************************************** footer ******************************************************************/

#footer{
width:100%;
margin:auto;
height:182px;
position:relative;
background-color:#e4e9eb;}
#footer_wrap{
width:960px;
margin:auto;
}

#list ul{margin-top:-45px;font-size: 18px;}
#list li{

padding: 5px 0;
list-style: none;
width: auto;
text-align: right;
background:url("../images/footer-center-tivetar.png") no-repeat scroll 0 0 transparent;

background-position:center bottom;
margin-left:48px;
}
#copyright{color: #94a7b0;
font-size: 12px;
}
#copyright a
{color: #94a7b0;
}
#list a
{
text-decoration: none;
font-size: 14px;
font-family:Arial;
font-weight: bold;
text-shadow: 0 1px 1px #fff;
color: #94a7b0;
}
.footer-con section{
	color: #94a7b0;
	font-family:Arial;
	font-size:12px;
	}
 .foote-img {
    background: url(../images/footer-logo.png) no-repeat scroll left center transparent;
    color: #94A7B0;
    font-size: 12px;
    padding: 30px 40px;
	float:left;
}
#copyright{float:left;}

.footer-con
{
	
		float:left;
		margin-top: 23px;
}


#social-pages li {
    float: left;
    height: 50px;
    list-style: none outside none;
    margin-right: 10px;
    width: 50px;
}

	#facebook-page a{background:url(../images/footer-f-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	#facebook-page a:hover{background:url(../images/footer-f-actev-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	
	#googleplus-page a{background:url(../images/footer-g+-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	
	#googleplus-page a:hover{background:url(../images/footer-g+-actev-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	
	#twitter-page a{background:url(../images/footer-t-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	
	#twitter-page a:hover{background:url(../images/footer-t-actev-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	
	#pinterest-page a{background:url(../images/footer-p-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}
	#pinterest-page a:hover{background:url(../images/footer-p-actev-icon.png) no-repeat scroll 0 0 transparent;
	float: left;
    height: 50px;
    width: 50px;
	font-size:0;
	}


#social-pages {
	float:left;
    margin-right: 121px;
    padding-top: 34px;
	margin-left: 27px;
}

#list{
   
    width: 288px;
	float:right;
}


/********************************************************************   this is content page**************************************************************************/







